.git
.git/**
.venv
.venv/**
venv
venv/**
**/__pycache__
**/__pycache__/**
**/*.pyc
.pytest_cache
.pytest_cache/**
__MACOSX
__MACOSX/**
.DS_Store
**/.DS_Store
**/._*
frontend/node_modules
frontend/node_modules/**
